<template>
  <div>
    <div class="app-main-layout">
      <Navbar @click=" isOpen = !isOpen" />

      <SideBar v-model="isOpen"/>
      <main class="app-content" :class="{full: !isOpen}">
        <router-view />
      </main>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue" href="#">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </div>
  </div>

</template>



<script>
  import Navbar from '@/components/app/Navbar'
  import SideBar from '@/components/app/SideBar'

  export default {
    name: 'main-layout',
    data: () => ({
      isOpen:true
    }),
    components: {
      Navbar,SideBar
    }
  }

</script>
